{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Inicio
{% endblock %}


{% block content %}


<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<title>Ingresar</title>
</head>


<body class="bg-light d-flex align-items-lg-center">

  {% block navbar %}

	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		  	<a class="navbar-brand" href="#">
	    		<img src="../../static/img/Logo.png" width="30" height="30" alt="">
	  		</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>

		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav mr-auto">
		      		<li class="nav-item">
		        			<a class="nav-link" href="#">Inicio</a>
		      		</li>
		      		<li class="nav-item ac active">
		        		<a class="nav-link" href="#">Ingresar</a>
		      		</li>
		    	</ul>
		  	</div>
		</nav>

  {% endblock %}

		<div class="row mt-5">
			<div class="col-12 col-lg-5 py-5 px-xl-5 mt-4">
				<div class="card border-dark text-center">
					<div class="card-body">
						<h1 class="card-title display-4 pb-4">Iniciar sesión</h1>
						<form method="POST"> {% csrf_token %}
							<div class="form-group">
							   	<input type="text" class="form-control" name="username" required=True placeholder="Nombre de usuario">
							</div>
							<div class="form-group">
							   	<input type="password" class="form-control" name="password" required=True placeholder="Contraseña">
							</div>
							<button type="submit" class="btn btn-block btn-dark mb-2" name="bc2">Confirmar</button>
						</form>
						<button type="button" class="btn btn-link" data-toggle="modal" data-target="#recuperarContraseña">¿Olvidaste tu constraseña?</button>
					</div>
				</div>
				{% if error.0 %}	
					<div class="alert alert-danger alert-dismissible fade show align-self-end mt-2" role="alert">
					  	<strong>Error:</strong> {{error.1}}
					  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    	<span aria-hidden="true">&times;</span>
					  	</button>
					</div>	
	            {% endif %}

	            {% if error2.0 %}	
					<div class="alert alert-success alert-dismissible fade show align-self-end mt-2" role="alert">
					  	{{error2.1}}
					  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    	<span aria-hidden="true">&times;</span>
					  	</button>
					</div>	
	            {% endif %}
	            
	            {% if error3.0 %}	
					<div class="alert alert-warning alert-dismissible fade show align-self-end mt-2" role="alert">
					  	<strong>Error:</strong> {{error3.1}}
					  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    	<span aria-hidden="true">&times;</span>
					  	</button>
					</div>	
	            {% endif %}
			</div>
			<div class="col-12 col-lg-7 pb-lg-0 pb-5">
				<div class="card border-dark">
					<div class="card-body">
						<h1 class="card-title display-4 text-center text-md-left mb-4">Registro</h1>
						<form method="POST">
							{% csrf_token %}
							<div class="form-row">
						    	<div class="form-group col-12 col-md-6">
						      		<label for="inputName">Nombre</label>
						      		<input type="text" class="form-control" name="first_name" required=True placeholder="Nombre">
						    	</div>
						    	<div class="form-group col-12 col-md-6">
						      		<label for="inputApellidos">Apellidos</label>
						      		<input type="text" class="form-control" name="last_name" required=True placeholder="Apellidos">
						    	</div>
						  	</div>
						  	<div class="form-row">
						    	<div class="form-group col-12 col-md-6">
						      		<label for="inputID">Documento de identidad</label>
						      		<input type="text" class="form-control" name="cc" required=True placeholder="1088123456">
						    	</div>
						    	<div class="form-group col-12 col-md-6">
						      		<label for="inputFechaNacimiento">Fecha de nacimiento</label>
						      		<input type="date" class="form-control" name="fecha_nacimiento" required=True>
						    	</div>
						  	</div>
						  	<div class="form-row">
						    	<div class="form-group col-12 col-md-6">
						      		<label for="InputNickname">Nombre de usuario</label>
						      		<input type="text" class="form-control" name="username" required=True placeholder="Nombre de usuario">
						    	</div>
						    	<div class="form-group col-12 col-md-6">
						      		<label for="inputEmail">Correo electrónico</label>
						      		<input type="email" class="form-control" name="email" required=True placeholder="alguien@ejemplo.com">
						    	</div>
						  	</div>
						  	<div class="form-row">
						    	<div class="form-group col-12 col-md-6">
						      		<label for="inputPassword">Contraseña</label>
						      		<input type="password" class="form-control" name="password1" required=True placeholder="Contraseña">
						    	</div>
						    	<div class="form-group col-12 col-md-6">
						      		<label for="inputCPassword">Confirmar contraseña</label>
						      		<input type="password" class="form-control" name="password2" required=True placeholder="Contraseña">
						    	</div>
						  	</div>
						  	<div class="form-row">
						  		<div class="form-group col-12 col-md-6">
						  			<button type="submit" class="btn btn-dark btn-block" name="bc1">Confirmar</button>
						  		</div>
						  	</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="recuperarContraseña" tabindex="-1" role="dialog" aria-labelledby="recuperarContraseña" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			    <div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Recuperar contraseña</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body px-4">
						<form>
							<div class="form-group">
								<label for="id_email">Correo electrónico:</label>
								<input type="email" class="form-control" id="id_email" aria-describedby="EmailRecuperacion" placeholder="alguien@ejemplo.com">
								<small id="id_email" class="form-text text-muted">Escribe la dirección del correo electrónico asociada a tu cuenta.</small>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cerrar</button>
						<form>
							<button type="submit" class="btn btn-dark">Confirmar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
{% endblock %}
