{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Inicio
{% endblock %}

{% block content %}


<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<title>Inicio</title>
</head>


<body class="bg-light d-flex">
  	{% block navbar %}
	<div class="container-main container-fluid">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		  	<a class="navbar-brand" href="{%url 'inicio'%}">
	    		<img src="../../static/img/Logo-light.svg" class="img-fluid" width="30" height="30" alt="">
	  		</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>

		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav mr-auto">
		      		<li class="nav-item ac active">
		        			<a class="nav-link" href="{%url 'inicio'%}">Inicio</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="{%url 'index'%}">Ingresar</a>
		      		</li>
		    	</ul>
		  	</div>
		</nav>
  	{% endblock %}
		<div class="jumbo jumbotron jumbotron-fluid mt-5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="display-4 mb-3">Planificador de gastos personales</h1>
						<p class="lead">Manejar tus finanzas nunca fue más fácil, ¿Qué esperas para probarlo?</p>
					</div>
					<div class="col-12 d-flex justify-content-end">
						<div>
							<a class="btn btn-outline-dark btn-lg" href="{%url 'index'%}" role="button">Registrate ahora</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gestiona jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="display-4 mb-3">¡Gestiona!</h1>
						<p class="lead">Ten el control de tus cuentas y presupuestos de la manera más fácil.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="registra jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row">
					<div class="col-12 text-right		">
						<h1 class="display-4 mb-3">¡Registra!</h1>
						<p class="lead">Lleva un registro detallado de cada una de las transacciones que hagas.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="visualiza jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="display-4 mb-3">¡Visualiza!</h1>
						<p class="lead">Toda la información de tus gastos personales en un mismo lugar.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row my-5 mx-0 justify-content-center">
			<div class="mb-5 col-7 col-xl-2 col-lg-3 col-md-4 col-sm-5 text-center px-5">
				<img src="../../static/img/Logo-dark.svg" class="img-fluid" alt="">
			</div>
			<div class="col-12">
				<blockquote class="blockquote text-center">
  					<p class="mb-0">"PGP, es la solución inteligente a todos tus problemas financieros."</p>
  					<footer class="blockquote-footer">El equipo detrás de PGP</footer>
				</blockquote>
			</div>
		</div>
	</div>
</body>
</html>
{% endblock %}
