{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Perfil
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/estilos.css">
	<title>Perfil</title>
</head>
<body class="bg-light d-flex align-items-lg-center">

	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		  	<a class="navbar-brand">
	    		<img src="../../static/img/Logo-light.svg" class="img-fluid" width="30" height="30" alt="">
	  		</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>

		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav mr-auto">
		      		<li class="nav-item ac active">
		        			<a class="nav-link" href="{%url 'perfil'%}">Perfil</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="/gestion/menu?username={{usuario.user.username}}">Gestionar finanzas</a>
		      		</li>
		      		<li class="nav-item">
		        			<a class="nav-link" href="#">Visualizar finanzas</a>
		      		</li>
		      		<li class="nav-item d-lg-none">
		        			<a class="nav-link" href="{%url 'logout'%}">Cerrar sesión</a>
		      		</li>
		    	</ul>
		    	<ul class="navbar-nav mr-0 d-none d-lg-block">
		    		<li class="nav-item dropdown">
		    			<button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</button>
						<div class="dropdown-menu dropdown-menu-right">
				    		<a class="dropdown-item" href="/usuario/editar_perfil?username={{usuario.user.username}}">Editar Perfil</a>
				    		<a class="dropdown-item" href="{%url 'logout'%}">Cerrar sesión</a>
						</div>
					</li>
				</ul>
		  	</div>
		</nav>
		<div class="row justify-content-center my-5 pt-5">
			<div class="col-xl-8 col-lg-10 col-12">
				<div class="card border-dark">
					<div class="card-body">
						<form>
				 			<div class="row justify-content-lg-end justify-content-center align-items-center">
				    			<div class="col-md-6 col-lg-4">
				    				<div class="form-row">
				    					<div class="form-group col-12 text-center">
				    						<img src="{{usuario.foto_perfil.url}}" class="rounded img-fluid" alt="">
				    					</div>
				    				</div>
				    			</div>
				    			<div class="col-12 col-lg-8 mb-3 order-lg-first">
									<div class="row">
										<div class="col-12 text-center mb-2">
											<h1 class="font-weight-light">{{user.first_name}} {{user.last_name}}</h1>
										</div>
										<div class="col-12">
											<ul class="list-group list-group-flush">
											  	<li class="list-group-item">
											  		<div class="font-weight-bold">Nombre de usuario:</div>
											  		{{user.username}}
											  	</li>
											  	<li class="list-group-item">
											  		<div class="font-weight-bold">Correo electrónico:</div>
											  		{{user.email}}
											  	</li>
											  	<li class="list-group-item">
											  		<div class="font-weight-bold">Documento de identidad:</div>
											  		{{usuario.cc}}
											  	</li>
											  	<li class="list-group-item">
											  		<div class="font-weight-bold">Fecha de nacimiento:</div>
											  		{{usuario.fecha_nacimiento}}
											  	</li>
											</ul>
										</div>
									</div>
						    	</div>
				  				<div class="col-12 col-lg-4 order-lg-last">
				  					<div class="form-row">
				  						<a class="btn btn-dark btn-block" href="/usuario/editar_perfil?username={{usuario.user.username}}">Editar</a>
				    				</div>
				    			</div>
				    		</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/bootstrap.js"></script>
</body>
</html>

{% endblock %}
