{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Inicio
{% endblock %}


{% block content %}


<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<title>Ingresar</title>
</head>


<body class="bg-light d-flex align-items-lg-center">

  {% block navbar %}

	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		  	<a class="navbar-brand" href="{%url 'inicio'%}">
	    		<img src="../../static/img/Logo.png" width="30" height="30" alt="">
	  		</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>

		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav mr-auto">
		      		<li class="nav-item">
		        			<a class="nav-link" href="{%url 'inicio'%}">Inicio</a>
		      		</li>
		      		<li class="nav-item ac active">
		        		<a class="nav-link" href="{%url 'index'%}">Ingresar</a>
		      		</li>
		    	</ul>
		  	</div>
		</nav>

  {% endblock %}





  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recuperar contraseña</h5>
        </button>
      </div>
      <div class="modal-body px-4">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_email">Correo electrónico:</label>
            {{ form.email }}
            <small id="id_email" class="form-text text-muted">Escribe la dirección del correo electrónico asociada a tu cuenta.</small>
          </div>

      </div>
      <div class="modal-footer">
        <a href="{%url 'index'%}">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cerrar</button>
        </a>

          <button type="submit" class="btn btn-dark">Confirmar</button>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
{% endblock %}
