{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  {% block extrahead %}
  {% endblock %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

  <title>{% block title %} {% endblock %}</title>
</head>
<body>

    {% block header %}
    {% include 'base/header.html' %}
    {% endblock %}

    {% block content %}


    {% endblock %}


    {% block footer %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/jquery.js"></script>
  	<script src="js/bootstrap.js"></script>

    {% block extrajs %}
    {% endblock %}

</body>
</html>
