{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Editar Tarjeta
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta chaset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-sacale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilos.css">
	<title>Editar tarjeta</title>
</head>

<body class="bg-light d-flex align-items-md-center">

	<div class="container pt-5 mt-md-0 mt-4">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			  	<a class="navbar-brand" href="#">
		    		<img src="/static/img/Logo-light.svg" class="img-fluid" width="30" height="30" alt="">
		  		</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			  	</button>

			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav mr-auto">
			      		<li class="nav-item">
			        			<a class="nav-link" href="/usuario/perfil?username={{usuario.user.username}}">Perfil</a>
			      		</li>
			      		<li class="nav-item dropdown">
	        				<div class="btn-group">
							  <a class="nav-link " href="/gestion/menu?username={{usuario.user.username}}">Gestionar finanzas</a>
							  <button class="d-none d-lg-block  pl-0 btn btn-link nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
							  <div class="dropdown-menu">
							    <a class="dropdown-item" href="/gestion/cuentas?username={{usuario.user.username}}&page=1">Cuentas</a>
							    <a class="dropdown-item" href="/gestion/transacciones?username={{usuario.user.username}}">Transacciones</a>
							    <a class="dropdown-item" href="/gestion/presupuesto?username={{usuario.user.username}}">Presupuestos</a>
							  </div>
							</div>
			      		</li>
			      		<li class="nav-item dropdown">
	        				<div class="btn-group">
							  <a class="nav-link ac active" href="/visualizar/menu?username={{usuario.user.username}}">Visualizar finanzas</a>
							  <button class="d-none d-lg-block ac active pl-0 btn btn-link nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
							  <div class="dropdown-menu">
							    <a class="dropdown-item" href="/visualizar/cuentas?username={{usuario.user.username}}">Cuentas</a>
							    <a class="dropdown-item" href="/visualizar/transacciones?username={{usuario.user.username}}">Transacciones</a>
							    <a class="dropdown-item" href="/visualizar/presupuesto?username={{usuario.user.username}}">Presupuestos</a>
							  </div>
							</div>
			      		</li>
			      		<li class="nav-item d-lg-none">
			        			<a class="nav-link" href="{%url 'logout'%}">Cerrar sesión</a>
			      		</li>
			    	</ul>
			    	<ul class="navbar-nav mr-0 d-none d-lg-block">
			    		<li class="nav-item dropdown">
			    			<button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</button>
							<div class="dropdown-menu dropdown-menu-right">
					    		<a class="dropdown-item" href="/usuario/editar_perfil?username={{usuario.user.username}}">Editar Perfil</a>
					    		<a class="dropdown-item" href="{%url 'logout'%}">Cerrar sesión</a>
							</div>
						</li>
					</ul>
			  	</div>
			</nav>

		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-10 col-12">
				<div class="card border-dark">
					<div class="card-body">
						<form method="POST" enctype="multipart/form-data">{% csrf_token %}
				 			<div class="row justify-content-center  align-items-center">
				    			<div class="col-12 col-lg-10 order-lg-first">
				    				<div class="form-row">
									    <div class="form-group col-12 col-md-6">
						      				<label for="inputName">Nombre de la cuenta</label>
						      				<input type="text" class="form-control" id="inputName" placeholder="" value="{{tarjetas.nombre}}" name="nombre" required=True>
						    			</div>
						    			<div class="form-group col-12 col-md-6">
						      				<label for="inputApellidos">Entidad bancaria</label>
						      				<input type="text" class="form-control" id="inputApellidos" placeholder="" value="{{tarjetas.entidad}}" name="entidad" required=True>
						    			</div>
						    			<div class="form-group col-12 col-md-4">
						      				<label for="inputEmail">Numero de tarjeta</label>
						      				<input type="number" class="form-control" id="inputEmail" placeholder="" value="{{tarjetas.numero_tarjeta}}" min="1" name="numeroTarjeta" required=True>
						    			</div>
								    	<div class="form-group col-12 col-md-4">
								      		<label for="inputID">Saldo</label>
								      		<input class="form-control" type="text" placeholder="" value="$ {{tarjetas.saldo_inicial}}" readonly>
								    	</div>
								    	<div class="form-group col-12 col-md-4">
								      		<label for="inputFechaNacimiento">No. de cuenta</label>
								      		<input type="number" class="form-control" id="inputEmail" placeholder="" value="{{tarjetas.numero_cuenta}}" name="numeroCuenta" min="1" required=True>
								    	</div>
								    	<div class="form-group col-12 col-md-6">
									    	<label for="">Fecha de vencimiento</label>
									    	<div class="form-row">
									    		<div class="col">
									    			<input type="number" class="form-control" name="mm" required=True placeholder="" value="{{tarjetas.fecha_vencimiento_mm}}" min="1" max="12">
									    		</div>
									      		<div class="col-1">
									      			<h3 class="font-weight-light">/</h3>
									      		</div>
									      		<div class="col">
									      			<input type="number" class="form-control" name="aa" required=True placeholder="" value="{{tarjetas.fecha_vencimiento_aa}}" min="18" max="99">
									      		</div>
									      	</div>
									    </div>
									    <div class="form-group col-12 col-md-6">
									    	<label for="">Tipo de divisa</label>
									    	<input class="form-control" type="text" placeholder="" value="{{tarjetas.tipo_divisa}}" readonly>
									    </div>
								    </div>
					    			<button type="submit" class="btn btn-dark btn-block">Guardar</button>

									</div>
								</div>
						    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>

{% endblock %}
