{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Visualizar Presupuesto
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta chaset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-sacale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilos.css">
	<title>Editar Perestamos/Hipotecas</title>
</head>

<body class="bg-light d-flex align-items-md-center">

	<div class="container pt-5 mt-md-0 mt-4">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			  	<a class="navbar-brand" href="#">
		    		<img src="/static/img/Logo-light.svg" class="img-fluid" width="30" height="30" alt="">
		  		</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			  	</button>

			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav mr-auto">
			      		<li class="nav-item">
			        			<a class="nav-link" href="/usuario/perfil?username={{usuario.user.username}}">Perfil</a>
			      		</li>
			      		<li class="nav-item dropdown">
	        				<div class="btn-group">
							  <a class="nav-link " href="/gestion/menu?username={{usuario.user.username}}">Gestionar finanzas</a>
							  <button class="d-none d-lg-block  pl-0 btn btn-link nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
							  <div class="dropdown-menu">
							    <a class="dropdown-item" href="/gestion/cuentas?username={{usuario.user.username}}&page=1">Cuentas</a>
							    <a class="dropdown-item" href="/gestion/transacciones?username={{usuario.user.username}}">Transacciones</a>
							    <a class="dropdown-item" href="/gestion/presupuesto?username={{usuario.user.username}}">Presupuestos</a>
							  </div>
							</div>
			      		</li>
			      		<li class="nav-item dropdown">
	        				<div class="btn-group">
							  <a class="nav-link ac active" href="/visualizar/menu?username={{usuario.user.username}}">Visualizar finanzas</a>
							  <button class="d-none d-lg-block ac active pl-0 btn btn-link nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
							  <div class="dropdown-menu">
							    <a class="dropdown-item" href="/visualizar/cuentas?username={{usuario.user.username}}">Cuentas</a>
							    <a class="dropdown-item" href="/visualizar/transacciones?username={{usuario.user.username}}">Transacciones</a>
							    <a class="dropdown-item" href="/visualizar/presupuesto?username={{usuario.user.username}}">Presupuestos</a>
							  </div>
							</div>
			      		</li>
			      		<li class="nav-item d-lg-none">
			        			<a class="nav-link" href="{%url 'logout'%}">Cerrar sesión</a>
			      		</li>
			    	</ul>
			    	<ul class="navbar-nav mr-0 d-none d-lg-block">
			    		<li class="nav-item dropdown">
			    			<button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</button>
							<div class="dropdown-menu dropdown-menu-right">
					    		<a class="dropdown-item" href="/usuario/editar_perfil?username={{usuario.user.username}}">Editar Perfil</a>
					    		<a class="dropdown-item" href="{%url 'logout'%}">Cerrar sesión</a>
							</div>
						</li>
					</ul>
			  	</div>
			</nav>

		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-10 col-12 mb-3">
				<div class="card border-dark">
					<div class="card-body">
						<form method="POST" enctype="multipart/form-data">{% csrf_token %}
				 			<div class="row justify-content-center  align-items-center">

				    			<div class="col-12 col-lg-10 order-lg-first">
				    				<div class="form-row">
									    <div class="form-group col-12 col-md-6">
						      				<label for="inputName">Nombre del prestamo/hipoteca</label>
						      				<input type="text" class="form-control" id="inputName" placeholder="Ejemplo_nombre" value="{{prestamos.nombre}}" name="nombre" required=True>
						    			</div>
						    			<div class="form-group col-12 col-md-6">
						      				<label for="inputApellidos">Entidad bancaria</label>
						      				<input type="text" class="form-control" id="inputApellidos" placeholder="Nombre del banco" value="{{prestamos.entidad}}" name="entidad" required=True>
						    			</div>
						    			<div class="form-group col-12 col-md-4">
						      				<label for="inputEmail">Monto</label>
						      				<input class="form-control" type="text" placeholder="" value="{{prestamos.monto}}"readonly>
						    			</div>
								    	<div class="form-group col-12 col-md-5">
								      		<label for="inputID">Divisa</label>
								      		<input class="form-control" type="text" placeholder="{{prestamos.tipo_divisa}}" readonly>
								    	</div>
								    	<div class="form-group col-12 col-md-3">
								      		<label for="interes">Interes</label>
								      		<input type="number" class="form-control" id="inputEmail" placeholder="" value="{{prestamos.interes}}" min="0" name="interes" required=True>
								    	</div>
								    	<div class="form-group col-12 col-md-4">
								      		<label for="inputFechaNacimiento">Fecha de prestamo</label>
								      		<input type="date" class="form-control" value="{{fecha_prestamo}}" name="fecha_prestamo" required=True>
								    	</div>
								    	<div class="form-group col-12 col-md-4">
								      		<label for="inputFechaNacimiento">Fecha limite</label>
								      		<input type="date" class="form-control" value="{{fecha_limite}}" name="fecha_limite" required=True>
								    	</div>
								    	<div class="form-group  col-12 col-md-4">
								      		<label for="">Tipo de pago</label>
								      		 	<select type="text" class="form-control" name="pago" value="{{prestamos.tipo_pago}}">
											    	<option>Semanal</option>
											      	<option>Quincenal</option>
											      	<option>Mensual</option>
											      	<option>Anual</option>
											    </select>
								    	</div>
					    					<div class="col-12 pt-2">
					    						<div class="form-row">
					    							<button type="submit" class="btn btn-dark btn-block">Guardar</button>
					    	  					</div>
													{% if error.0 %}
													<div class="mt-3 alert alert-warning" role="alert">
									  					<strong>Atención! </strong> {{error.1}}
													</div>
													{% endif %}
					    	  			</div>
									</div>
						    	</div>

				    		</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>

{% endblock %}
