{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Gestión
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta chaset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-sacale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilos.css">
	<title>Visualizar Cuentas</title>
</head>

<body class="bg-light d-flex align-items-md-center">
	<div class="container pt-5 mt-4">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			  	<a class="navbar-brand" href="#">
		    		<img src="/static/img/Logo-light.svg" class="img-fluid" width="30" height="30" alt="">
		  		</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			  	</button>

			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav mr-auto">
			      		<li class="nav-item">
			        			<a class="nav-link" href="/usuario/perfil?username={{usuario.user.username}}">Perfil</a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link" href="/gestion/menu?username={{usuario.user.username}}">Gestionar finanzas</a>
			      		</li>
			      		<li class="nav-item ac active">
			        			<a class="nav-link" href="/visualizar/menu?username={{usuario.user.username}}">Visualizar finanzas</a>
			      		</li>
			      		<li class="nav-item d-lg-none">
			        			<a class="nav-link" href="{%url 'logout'%}">Cerrar sesión</a>
			      		</li>
			    	</ul>
			    	<ul class="navbar-nav mr-0 d-none d-lg-block">
			    		<li class="nav-item dropdown">
			    			<button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</button>
							<div class="dropdown-menu dropdown-menu-right">
					    		<a class="dropdown-item" href="/usuario/editar_perfil?username={{usuario.user.username}}">Editar Perfil</a>
					    		<a class="dropdown-item" href="{%url 'logout'%}">Cerrar sesión</a>
							</div>
						</li>
					</ul>
			  	</div>
			</nav>

		<div class="row align-items-center">
		  	<div class="col-4">
		    	<div class="list-group bord" id="list-tab" role="tablist">	
		      	{% if tarjeta or prestamo or inversion or chequera %}
		      		{% for e in tarjeta %}
					<a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#{{e.nombre}}" role="tab" aria-controls="home">{{e.nombre}} <small>Tarjeta credito/debito</small></a>
					{% endfor %}
					{% for e in prestamo %}
					<a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#{{e.nombre}}" role="tab" aria-controls="home">{{e.nombre}} <small>Prestamo/Hipoteca</small></a>
					{% endfor %}
					{% for e in inversion %}
					<a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#{{e.nombre}}" role="tab" aria-controls="home">{{e.nombre}} <small>Cuenta de inversion</small></a>
					{% endfor %}
					{% for e in chequera %}
					<a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#{{e.nombre}}" role="tab" aria-controls="home">{{e.nombre}} <small>Cheque</small></a>
					{% endfor %}
				{% endif %}
		    	</div>
			</div>
			<div class="col-8">
		 		<div class="tab-content" id="nav-tabContent">
		     	{% if tarjeta or prestamo or inversion or chequera %}
		      		{% for e in tarjeta %}
					<div class="tab-pane fade" id="{{e.nombre}}" role="tabpanel" aria-labelledby="list-home-list">
		     			<div class="card border-dark">
		      	  			<div class="card-body">
		      	    			<h1 class="card-title text-center">{{e.nombre}}</h1>
		      	    			<p class="card-text"><strong>Entidad bancaria: </strong>{{e.entidad}}</p>
		      	    			<p class="card-text"><strong>Numero de tarjeta: </strong> {{e.numero_tarjeta}}</p>
		      	    			<p class="card-text"><strong>Saldo inicial: </strong> ${{e.saldo_inicial}}</p>
		      	    			<p class="card-text"><strong>Numero de cuenta: </strong> {{e.numero_cuenta}}</p>
		      	    			<p class="card-text"><strong>Fecha de vencimiento: </strong> Mes: {{e.fecha_vencimiento_mm}} Año: {{e.fecha_vencimiento_aa}}</p>
		      	    			<p class="card-text"><strong>Tipo de divisa: </strong> {{e.tipo_divisa}}</p>
		      	  			</div>
		      			</div>
		     		</div>
					{% endfor %}
					{% for e in prestamo %}
					<div class="tab-pane fade" id="{{e.nombre}}" role="tabpanel" aria-labelledby="list-home-list">
		     			<div class="card border-dark">
		      	  			<div class="card-body">
		      	    			<h1 class="card-title text-center">{{e.nombre}}</h1>
		      	    			<p class="card-text"><strong>Entidad bancaria: </strong>{{e.entidad}}</p>
		      	    			<p class="card-text"><strong>Saldo inicial: </strong> ${{e.saldo_inicial}}</p>
		      	    			<p class="card-text"><strong>Tipo de divisa: </strong> {{e.tipo_divisa}}</p>
		      	  			</div>
		      			</div>
		     		</div>
					{% endfor %}
					{% for e in inversion %}
					<div class="tab-pane fade" id="{{e.nombre}}" role="tabpanel" aria-labelledby="list-home-list">
		     			<div class="card border-dark">
		      	  			<div class="card-body">
		      	    			<h1 class="card-title text-center">{{e.nombre}}</h1>
		      	    			<p class="card-text"><strong>Entidad bancaria: </strong>{{e.entidad}}</p>
		      	    			<p class="card-text"><strong>Numero de cuenta: </strong> {{e.numero_cuenta}}</p>
		      	    			<p class="card-text"><strong>Tipo de divisa: </strong> {{e.tipo_divisa}}</p>
		      	  			</div>
		      			</div>
		     		</div>
					{% endfor %}
					{% for e in chequera %}
					<div class="tab-pane fade" id="{{e.nombre}}" role="tabpanel" aria-labelledby="list-home-list">
		     			<div class="card border-dark">
		      	  			<div class="card-body">
		      	    			<h1 class="card-title text-center">{{e.nombre}}</h1>
		      	    			<p class="card-text"><strong>Entidad bancaria: </strong>{{e.entidad}}</p>
		      	    			<p class="card-text"><strong>Numero de cuenta: </strong> {{e.numero_cuenta}}</p>
		      	    			<p class="card-text"><strong>Tipo de divisa: </strong> {{e.tipo_divisa}}</p>
		      	  			</div>
		      			</div>
		     		</div>
					{% endfor %}
				{% endif %}
		    	</div>
			</div>
		</div>
	</div>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>

{% endblock %}
