{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Visualizar Transacciones
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta chaset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-sacale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilos.css">
	<title>Visualizar transacciones</title>
</head>

<body class="bg-light d-flex align-items-md-center">

	<div class="container pt-5 mt-4">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			  	<a class="navbar-brand" href="#">
		    		<img src="/static/img/Logo-light.svg" class="img-fluid" width="30" height="30" alt="">
		  		</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			  	</button>

			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav mr-auto">
			      		<li class="nav-item">
			        			<a class="nav-link" href="/usuario/perfil?username={{usuario.user.username}}">Perfil</a>
			      		</li>
			      		<li class="nav-item dropdown">
	        				<div class="btn-group">
							  <a class="nav-link" href="/gestion/menu?username={{usuario.user.username}}">Gestionar finanzas</a>
							  <button class="d-none d-lg-block pl-0 btn btn-link nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
							  <div class="dropdown-menu">
							    <a class="dropdown-item" href="/gestion/cuentas?username={{usuario.user.username}}">Cuentas</a>
							    <a class="dropdown-item" href="/gestion/transacciones?username={{usuario.user.username}}">Transacciones</a>
							    <a class="dropdown-item" href="/gestion/presupuesto?username={{usuario.user.username}}">Presupuestos</a>
							  </div>
							</div>
						</li>
			      		<li class="nav-item dropdown">
	        				<div class="btn-group">
							  <a class="nav-link ac active" href="/visualizar/menu?username={{usuario.user.username}}">Visualizar finanzas</a>
							  <button class="d-none d-lg-block ac active pl-0 btn btn-link nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
							  <div class="dropdown-menu">
							    <a class="dropdown-item" href="/visualizar/cuentas?username={{usuario.user.username}}">Cuentas</a>
							    <a class="dropdown-item" href="/visualizar/transacciones?username={{usuario.user.username}}">Transacciones</a>
							    <a class="dropdown-item" href="/visualizar/presupuesto?username={{usuario.user.username}}">Presupuestos</a>
							  </div>
							</div>
			      		</li>
			      		<li class="nav-item d-lg-none">
			        			<a class="nav-link" href="{%url 'logout'%}">Cerrar sesión</a>
			      		</li>
			    	</ul>
			    	<ul class="navbar-nav mr-0 d-none d-lg-block">
			    		<li class="nav-item dropdown">
			    			<button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</button>
							<div class="dropdown-menu dropdown-menu-right">
					    		<a class="dropdown-item" href="/usuario/editar_perfil?username={{usuario.user.username}}">Editar Perfil</a>
					    		<a class="dropdown-item" href="{%url 'logout'%}">Cerrar sesión</a>
							</div>
						</li>
					</ul>
			  	</div>
			</nav>

	<div class="row align-items-center">
			<div class="col-md-5 col-lg-4 col-12 mt-3">
				<h1 class="font-weight-light mb-3 text-center">Transacciones existentes</h1>
				<div class="list-group bord" id="list-tab" role="tablist">
				{% if ingreso or gasto or transferencia %}
					{% for e in ingreso %}
					<a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#{{e.nombre}}{{e.id}}" role="tab" aria-controls="home">
						<div class="row">
							<div class="col-8 pb-0">
								<p class="mb-0">{{e.nombre}}</p>
							</div>
							<div class="col-4 text-right pl-3">
								<span class="badge badge-success">Ingreso</span>
							</div>
						</div>
					</a>
					{% endfor %}
					{% for e in gasto %}
					<a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#{{e.nombre}}{{e.id}}" role="tab" aria-controls="home">
						<div class="row">
							<div class="col-8 pb-0">
								<p class="mb-0">{{e.nombre}}</p>
							</div>
							<div class="col-4 text-right pl-3">
								<span class="badge badge-danger">Gasto</span>
							</div>
						</div>
					</a>
					{% endfor %}
					{% for e in transferencia %}
					<a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#{{e.nombre}}{{e.id}}" role="tab" aria-controls="home">
						<div class="row">
							<div class="col-8 pb-0">
								<p class="mb-0">{{e.nombre}}</p>
							</div>
							<div class="col-3 text-right pl-3">
								<span class="badge badge-secondary">Transferencia</span>
							</div>
						</div>
					</a>
					{% endfor %}
				{% else %}
				<p class="text-center">No hay transacciones registradas</p>
				{% endif %}
				</div>
		</div>


		<div class="col-md-7 col-lg-8 col-12 mt-3 mb-3">
			<div class="tab-content" id="nav-tabContent">
				{% if ingreso or gasto or transferencia %}
						{% for e in ingreso %}
				<div class="tab-pane fade" id="{{e.nombre}}{{e.id}}" role="tabpanel" aria-labelledby="list-home-list">
						<div class="card border-dark">
									<div class="card-body">
										<h1 class="card-title text-center">{{e.nombre}}</h1>
			      	    			<p class="card-text"><strong>Nombre del ingreso:</strong> {{e.nombre}}</p>
			      	    			<p class="card-text"><strong>Monto:</strong> $ {{e.monto}}</p>
					      	    	<p class="card-text"><strong> Divisa:</strong> {{e.tipo_divisa}}</p>
					      	    	<p class="card-text"><strong>Cuenta a ingresar:</strong> {{e.cuenta_ingresar}}</p>
					      	    	<p class="card-text"><strong>Fecha de ingreso:</strong> {{e.fecha_ingreso}}</p>
					      	    	<p class="card-text"><strong>Notas adicionales:</strong> {{e.notas_adicionales}}</p>
											</div>
			      			</div>
			     		</div>
						{% endfor %}
						{% for e in gasto %}
						<div class="tab-pane fade" id="{{e.nombre}}{{e.id}}" role="tabpanel" aria-labelledby="list-home-list">
			     			<div class="card border-dark">
			      	  			<div class="card-body">
			      	    			<h1 class="card-title text-center">{{e.nombre}}</h1>
							      	    <p class="card-text"><strong>Nombre del gasto:</strong> {{e.nombre}}</p>
							      	    <p class="card-text"><strong>Monto:</strong> $ {{e.monto}}</p>
							      	    <p class="card-text"><strong>Divisa:</strong> {{e.tipo_divisa}}</p>
							      	    <p class="card-text"><strong>Cuenta a retirar:</strong> {{e.cuenta_retirar}}</p>
							      	    <p class="card-text"><strong>Fecha gasto:</strong> {{e.fecha_gasto}}</p>
							      	    <p class="card-text"><strong>Notas adicionales:</strong> {{e.notas_adicionales}}</p>
												</div>
										</div>
								</div>
							{% endfor %}
							{% for e in transferencia %}
							<div class="tab-pane fade" id="{{e.nombre}}{{e.id}}" role="tabpanel" aria-labelledby="list-home-list">
				     			<div class="card border-dark">
				      	  			<div class="card-body">
				      	    			<h1 class="card-title text-center">{{e.nombre}}</h1>
				      	    <p class="card-text"><strong>Nombre de la transferencia:</strong> {{e.nombre}}</p>
				      	    <p class="card-text"><strong>Monto:</strong> $ {{e.monto}}</p>
				      	    <p class="card-text"><strong>Cuenta fuente:</strong> {{e.cuenta_fuente}}</p>
				      	    <p class="card-text"><strong>Cuenta destino:</strong> {{e.cuenta_destino}}</p>
				      	    <p class="card-text"><strong>Notas adicionales:</strong> {{e.notas_adicionales}}</p>
									</div>
							</div>
					</div>
				{% endfor %}
			{% endif %}
		    </div>
		  </div>
		</div>
	</div>



	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>


</body>
</html>

{% endblock %}
