html,
body {
  height: 100%;
}

.gestiona{
	margin-bottom: 0px;
	background: #263238;
	color: #fff;
}

.registra{
	margin-bottom: 0px;
	background: #37474F;
	color: #fff;
}

.visualiza{
	margin-bottom: 0px;
	background: #455A64;
	color: #fff;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: inherit; 
}

.camara {
    position: absolute;
    bottom: 4px;
    right: 4px;
}