html,
body {
  height: 100%;
}

.jumbo{
	margin-bottom: 0px;
}

.gestiona{
	margin-bottom: 0px;
	background: #263238;
	color: #fff;
}

.registra{
	margin-bottom: 0px;
	background: #37474F;
	color: #fff;
}

.visualiza{
	margin-bottom: 0px;
	background: #455A64;
	color: #fff;
}

.container-main{
  padding-right: 0px;
  padding-left: 0px;
}
