{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Gestión
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/estilos.css">
	<title>Gestión</title>
</head>
<body class="bg-light d-flex align-items-md-center">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		  	<a class="navbar-brand">
	    		<img src="../../static/img/Logo-light.svg" class="img-fluid" width="30" height="30" alt="">
	  		</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>

		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav mr-auto">
		      		<li class="nav-item">
		        			<a class="nav-link" href="/usuario/perfil?username={{usuario.user.username}}">Perfil</a>
		      		</li>
		      		<li class="nav-item ac active">
		        		<a class="nav-link" href="/gestion/menu?username={{usuario.user.username}}">Gestionar finanzas</a>
		      		</li>
		      		<li class="nav-item">
		        			<a class="nav-link" href="#">Visualizar finanzas</a>
		      		</li>
		      		<li class="nav-item d-lg-none">
		        			<a class="nav-link" href="{%url 'logout'%}">Cerrar sesión</a>
		      		</li>
		    	</ul>
		    	<ul class="navbar-nav mr-0 d-none d-lg-block">
		    		<li class="nav-item dropdown">
		    			<button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</button>
						<div class="dropdown-menu dropdown-menu-right">
				    		<a class="dropdown-item" href="/usuario/editar_perfil?username={{usuario.user.username}}">Editar Perfil</a>
				    		<a class="dropdown-item" href="{%url 'logout'%}">Cerrar sesión</a>
						</div>
					</li>
				</ul>
		  	</div>
		</nav>
		<div class="row mt-5 pt-4 pb-2">
			<div class="col">
				<div class="card-deck">
					<div class="card border-dark">
					   	<img class="card-img-top" src="../../static/img/Cuentas.png" alt="Card image cap">
					   	<div class="card-body">
							<h5 class="card-title text-center"><strong>Cuentas</strong></h5>
					   		<p class="card-text text-center">Acá podrás agregar nuevas cuentas. También podrás modificar o quitar cuentas que ya existan. Puedes asociar cuentas de bancas en linea si lo requieres.</p>
					   	</div>
					   	<div class="botom-card card-footer">
					   		<a href="/gestion/cuentas?username={{usuario.user.username}}" class="btn btn-dark btn-block">¡Gestionar!</a>
					   	</div>
					</div>
					<div class="card border-dark">
					   	<img class="card-img-top" src="../../static/img/Transacciones.png" alt="Card image cap">
					   	<div class="card-body">
					   		<h5 class="card-title text-center"><strong>Transacciones</strong></h5>
						 	<p class="card-text text-center">Acá podrás registrar todas las transacciones de tus cuentas o presupuestos existentes.</p>
					   	</div>
						<div class="botom-card card-footer">
  							<a href="/gestion/transacciones?username={{usuario.user.username}}" class="align-self-end btn btn-dark btn-block">¡Registrar!</a>
  						</div>
					</div>
					<div class="card border-dark">
					   	<img class="card-img-top" src="../../static/img/Presupuestos.png" alt="Card image cap">
					   	<div class="card-body">
					   		<h5 class="card-title text-center"><strong>Presupuesto</strong></h5>
							<p class="card-text text-center">Acá podrás agregar nuevos presupuestos. También podrás modificar o quitar presupuestos que ya existan.</p>
						</div>
						<div class="botom-card card-footer">
							<a href="/gestion/presupuesto?username={{usuario.user.username}}" class="btn btn-dark btn-block">¡Gestionar!</a>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/bootstrap.js"></script>
</body>
</html>

{% endblock %}
