{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Gestión de transacciones
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/estilos.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<title>Gestión</title>
</head>
<body class="bg-light d-flex align-items-lg-center">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		  	<a class="navbar-brand">
	    		<img src="../../static/img/Logo-light.svg" class="img-fluid" width="30" height="30" alt="">
	  		</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>

		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav mr-auto">
		      		<li class="nav-item">
		        			<a class="nav-link" href="/usuario/perfil?username={{usuario.user.username}}">Perfil</a>
		      		</li>
		      		<li class="nav-item dropdown">
        				<div class="btn-group">
						  <a class="nav-link ac active" href="/gestion/menu?username={{usuario.user.username}}">Gestionar finanzas</a>
						  <button class="d-none d-lg-block ac active pl-0 btn btn-link nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
						  <div class="dropdown-menu">
						    <a class="dropdown-item" href="/gestion/cuentas?username={{usuario.user.username}}">Cuentas</a>
						    <a class="dropdown-item" href="/gestion/transacciones?username={{usuario.user.username}}">Transacciones</a>
						    <a class="dropdown-item" href="/gestion/presupuesto?username={{usuario.user.username}}">Presupuestos</a>
						  </div>
						</div>
		      		</li>
		      		<li class="nav-item dropdown">
        				<div class="btn-group">
						  <a class="nav-link " href="/visualizar/menu?username={{usuario.user.username}}">Visualizar finanzas</a>
						  <button class="d-none d-lg-block pl-0 btn btn-link nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
						  <div class="dropdown-menu">
						    <a class="dropdown-item" href="/visualizar/cuentas?username={{usuario.user.username}}">Cuentas</a>
						    <a class="dropdown-item" href="/visualizar/transacciones?username={{usuario.user.username}}">Transacciones</a>
						    <a class="dropdown-item" href="/visualizar/presupuesto?username={{usuario.user.username}}">Presupuestos</a>
						  </div>
						</div>
		      		</li>
		      		<li class="nav-item d-lg-none">
		        			<a class="nav-link" href="{%url 'logout'%}">Cerrar sesión</a>
		      		</li>
		    	</ul>
		    	<ul class="navbar-nav mr-0 d-none d-lg-block">
		    		<li class="nav-item dropdown">
		    			<button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</button>
						<div class="dropdown-menu dropdown-menu-right">
				    		<a class="dropdown-item" href="/usuario/editar_perfil?username={{usuario.user.username}}">Editar Perfil</a>
				    		<a class="dropdown-item" href="{%url 'logout'%}">Cerrar sesión</a>
						</div>
					</li>
				</ul>
		  	</div>
		</nav>

		<div class="row">
			<div class="col-12 col-lg-8 col-xl-7 pr-lg-4 mt-5 pt-lg-0 pt-5">
				<h1 class="font-weight-light mb-3">Nueva transacción</h1>
				<div id="accordion">
					<div class="card border-dark mb-1">
						<div class="card-header bg-transparent py-0" style="height: 3rem;" id="headingOne">
					    	<div class="row pt-1 justify-content-between align-items-center">
								<div class="col">
									<h6>Ingreso</h6>
								</div>
								<div class="col text-right">
									<span class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										<i class="material-icons">expand_more</i>
						  			</span>
								</div>
							</div>
					    </div>
					    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
					      	<div class="card-body">
								<form method="post">
								{% csrf_token %}
									<div class="form-row">
								      	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="c_name" required=True placeholder="Nombre del Ingreso" value="">
								    	</div>
								    	<div class="form-group col-6">
								      		<input type="number" class="form-control" name="c_mon" required=True placeholder="Monto" min="1" value="">
								    	</div>
								  	</div>
								  	<div class="form-row">
								    	<div class="form-group col-4">
								      		<label for="">Divisa</label>
								      		<select type="text" class="form-control" name="divisa">
											  	<option>COP</option>
											   	<option>EUR</option>
											   	<option>DOL</option>
											   	<option>YEN</option>
											</select>
								    	</div>
								    	<div class="form-group col-4">
								      		<label for="">Cuenta a ingresar</label>
								      		<select type="text" class="form-control" name="cuenta">
													{% if tarjetas or prestamos or inversiones or chequeras%}
														{% for e in tarjetas %}
													  	<option>{{ e.nombre }}</option>
														{% endfor %}
														{% for e in prestamos %}
													  	<option>{{ e.nombre }}</option>
														{% endfor %}
														{% for e in inversiones %}
													  	<option>{{ e.nombre }}</option>
														{% endfor %}
														{% for e in chequeras %}
													  	<option>{{ e.nombre }}</option>
														{% endfor %}

													{% else %}
														<option>Sin cuentas</option>
													{% endif %}

											</select>
								    	</div>
								    	<div class="form-group col-4">
								      		<label for="">Fecha ingreso</label>
								      		<input type="date" class="form-control" name="fechai" required=True>
								      	</div>
								  	</div>
								  	<div class="form-row">
								  		<div class="form-group col-12">
								    		<label for="">Notas adicionales</label>
    										<textarea class="form-control" name="notas"></textarea>
    									</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-12">
								  			<button type="submit" class="btn btn-dark btn-block" name="bc1">Confirmar</button>
								  		</div>
								  	</div>
								</form>
					      	</div>
					    </div>
					</div>
					<div class="card border-dark mb-1">
					    <div class="card-header bg-transparent py-0" style="height: 3rem;" id="headingTwo">
						    <div class="row pt-1 justify-content-between align-items-center">
								<div class="col">
									<h6>Gasto</h6>
								</div>
								<div class="col text-right">
									<span class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<i class="material-icons">expand_more</i>
						  			</span>
								</div>
							</div>
					    </div>
					    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					      	<div class="card-body">
								<form method="post">
								{% csrf_token %}
									<div class="form-row">
								      	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="c_name" required=True placeholder="Nombre del Gasto" value="">
								    	</div>
								    	<div class="form-group col-6">
								      		<input type="number" class="form-control" name="c_mon" required=True placeholder="Monto" min="1" value="">
								    	</div>
								  	</div>
								  	<div class="form-row">
								    	<div class="form-group col-4">
								      		<label for="">Divisa</label>
								      		<select type="text" class="form-control" name="divisa">
											  	<option>COP</option>
											   	<option>EUR</option>
											   	<option>DOL</option>
											   	<option>YEN</option>
											</select>
								    	</div>
								    	<div class="form-group col-4">
								      		<label for="">Cuenta a retirar</label>
								      		<select type="text" class="form-control" name="cuenta">
														{% if tarjetas or prestamos or inversiones or chequeras %}
															{% for e in tarjetas %}
														  	<option>{{ e.nombre }}</option>
															{% endfor %}
															{% for e in prestamos %}
														  	<option>{{ e.nombre }}</option>
															{% endfor %}
															{% for e in inversiones %}
														  	<option>{{ e.nombre }}</option>
															{% endfor %}
															{% for e in chequeras %}
														  	<option>{{ e.nombre }}</option>
															{% endfor %}

														{% else %}
															<option>Sin cuentas</option>
														{% endif %}
											</select>
								    	</div>
								    	<div class="form-group col-4">
								      		<label for="">Fecha gasto</label>
								      		<input type="date" class="form-control" name="fechag" required=True>
								      	</div>
								  	</div>
								  	<div class="form-row">
								  		<div class="form-group col-12">
								    		<label for="">Notas adicionales</label>
    										<textarea class="form-control" name="notas"></textarea>
    									</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-12">
								  			<button type="submit" class="btn btn-dark btn-block" name="bc2">Confirmar</button>
								  		</div>
								  	</div>
								</form>
					      	</div>
					    </div>
					</div>
					<div class="card border-dark mb-1">
					    <div class="card-header bg-transparent py-0" style="height: 3rem;" id="headingThree">
							<div class="row pt-1 justify-content-between align-items-center">
								<div class="col">
									<h6>Transferencia</h6>
								</div>
								<div class="col text-right">
									<span class="btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										<i class="material-icons">expand_more</i>
						  			</span>
								</div>
							</div>
					    </div>
					    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
					    	<div class="card-body">
					        	<form method="post">
								{% csrf_token %}
									<div class="form-row">
								      	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="c_name" required=True placeholder="Nombre de la Transferencia" value="">
								    	</div>
								    	<div class="form-group col-6">
								      		<input type="number" class="form-control" name="c_mon" required=True placeholder="Monto" min="1" value="">
								    	</div>
								  	</div>
								  	<div class="form-row">
								    	<div class="form-group col-4">
								      		<label for="">Divisa</label>
								      		<select type="text" class="form-control" name="divisa">
											  	<option>COP</option>
											   	<option>EUR</option>
											   	<option>DOL</option>
											   	<option>YEN</option>
											</select>
								    	</div>
								    	<div class="form-group col-4">
								      		<label for="">Cuenta fuente</label>
								      		<select type="text" class="form-control" name="cuentaF">
														{% if tarjetas or prestamos or inversiones or chequeras%}
															{% for e in tarjetas %}
																<option>{{ e.nombre }}</option>
															{% endfor %}
															{% for e in prestamos %}
																<option>{{ e.nombre }}</option>
															{% endfor %}
															{% for e in inversiones %}
																<option>{{ e.nombre }}</option>
															{% endfor %}
															{% for e in chequeras %}
																<option>{{ e.nombre }}</option>
															{% endfor %}
														{% else %}
															<option>Sin cuentas</option>
														{% endif %}
											</select>
								    	</div>
								    	<div class="form-group col-4">
								      		<label for="">Cuenta destino</label>
								      		<select type="text" class="form-control" name="cuentaD">
														{% if tarjetas or prestamos or inversiones or chequeras%}
															{% for e in tarjetas %}
																<option>{{ e.nombre }}</option>
															{% endfor %}
															{% for e in prestamos %}
																<option>{{ e.nombre }}</option>
															{% endfor %}
															{% for e in inversiones %}
																<option>{{ e.nombre }}</option>
															{% endfor %}
															{% for e in chequeras %}
																<option>{{ e.nombre }}</option>
															{% endfor %}
														{% else %}
															<option>Sin cuentas</option>
														{% endif %}
											</select>
								      	</div>
								  	</div>
								  	<div class="form-row">
								  		<div class="form-group col-12">
								    		<label for="">Notas adicionales</label>
    										<textarea class="form-control" name="notas"></textarea>
    									</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-12">
								  			<button type="submit" class="btn btn-dark btn-block" name="bc3">Confirmar</button>
								  		</div>
								  	</div>
								</form>
					      	</div>
					    </div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-xl-5 align-self-center mt-5">
				<h1 class="font-weight-light text-center mb-3">Historial de transacciones</h1>
				{% if ingresos or gastos or transferencias%}
					{% for e in ingresos%}
					<ul class="list-group">
					  	<li class="list-group-item py-0">
							<div class="row pt-3">
								<div class="col-7">
									<p>{{e.nombre}}</p>
								</div>
								<div class="col-3 text-right pr-0">
									<span class="badge badge-success">Ingreso</span>
								</div>
								<div class="col-2 text-right">
									<i class="material-icons">delete</i>
								</div>
							</div>
					  	</li>
					</ul>
					{% endfor %}
					{% for e in gastos %}
					<ul class="list-group">
					  	<li class="list-group-item py-0">
							<div class="row pt-3">
								<div class="col-7">
									<p>{{e.nombre}}</p>
								</div>
								<div class="col-3 text-right pr-0">
									<span class="badge badge-danger">Gasto</span>
								</div>
								<div class="col-2 text-right">
									<i class="material-icons">delete</i>
								</div>
							</div>
					  	</li>
					</ul>
					{% endfor %}
					{% for e in transferencias%}
					<ul class="list-group">
					  	<li class="list-group-item py-0">
							<div class="row pt-3">
								<div class="col-7">
									<p>{{e.nombre}}</p>
								</div>
								<div class="col-3 text-right pr-0">
									<span class="badge badge-secondary">Transferencia</span>
								</div>
								<div class="col-2 text-right">
									<i class="material-icons">delete</i>
								</div>
							</div>
					  	</li>
					</ul>
					{% endfor %}
				{% else %}
				<p class="text-center">No hay ninguna transaccion hasta ahora.</p>
				{% endif %}
				<button type="" class="mt-5 btn-block btn btn-dark" name="bc1">Ver historial detallado</button>
				{% if mensaje_cuenta.0 %}
				<div class="mt-3 alert alert-warning" role="alert">
  					<strong>Atención! </strong> {{mensaje_cuenta.1}}
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/bootstrap.js"></script>
</body>
</html>

{% endblock %}
