{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Gestión
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/estilos.css">
	<title>Gestión</title>
</head>
<body class="bg-light d-flex align-items-center">

	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		  	<a class="navbar-brand">
	    		<img src="../../static/img/Logo-light.svg" class="img-fluid" width="30" height="30" alt="">
	  		</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>

		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav mr-auto">
		      		<li class="nav-item">
		        			<a class="nav-link" href="/usuario/perfil?username={{usuario.user.username}}">Perfil</a>
		      		</li>
		      		<li class="nav-item ac active">
		        		<a class="nav-link" href="/gestion/menu?username={{usuario.user.username}}">Gestionar finanzas</a>
		      		</li>
		      		<li class="nav-item">
		        			<a class="nav-link" href="#">Visualizar finanzas</a>
		      		</li>
		      		<li class="nav-item d-lg-none">
		        			<a class="nav-link" href="{%url 'logout'%}">Cerrar sesión</a>
		      		</li>
		    	</ul>
		    	<ul class="navbar-nav mr-0 d-none d-lg-block">
		    		<li class="nav-item dropdown">
		    			<button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</button>
						<div class="dropdown-menu dropdown-menu-right">
				    		<a class="dropdown-item" href="/usuario/editar_perfil?username={{usuario.user.username}}">Editar Perfil</a>
				    		<a class="dropdown-item" href="{%url 'logout'%}">Cerrar sesión</a>
						</div>
					</li>
				</ul>
		  	</div>
		</nav>
		<div class="row my-5 justify-content-center">
			<div class="mb-3 col-7 col-xl-2 col-lg-3 col-md-4 col-sm-5 text-center px-5">
				<img src="../../static/img/Logo-dark.svg" class="img-fluid" alt="">
			</div>
			<div class="col-12 text-center">
  				<h1 class="display-4">¡Todo marcha sobre ruedas!</h1>
			</div>
		</div>
	</div>

	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/bootstrap.js"></script>
</body>
</html>

{% endblock %}
