{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Gestión de cuentas
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/estilos.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Gestión</title>
</head>
<body class="bg-light d-flex align-items-lg-center">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		  	<a class="navbar-brand">
	    		<img src="../../static/img/Logo-light.svg" class="img-fluid" width="30" height="30" alt="">
	  		</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>

		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav mr-auto">
		      		<li class="nav-item">
		        			<a class="nav-link" href="/usuario/perfil?username={{usuario.user.username}}">Perfil</a>
		      		</li>
		      		<li class="nav-item ac active">
		        		<a class="nav-link" href="/gestion/menu?username={{usuario.user.username}}">Gestionar finanzas</a>
		      		</li>
		      		<li class="nav-item">
		        			<a class="nav-link" href="/visualizar/menu?username={{usuario.user.username}}">Visualizar finanzas</a>
		      		</li>
		      		<li class="nav-item d-lg-none">
		        			<a class="nav-link" href="{%url 'logout'%}">Cerrar sesión</a>
		      		</li>
		    	</ul>
		    	<ul class="navbar-nav mr-0 d-none d-lg-block">
		    		<li class="nav-item dropdown">
		    			<button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</button>
						<div class="dropdown-menu dropdown-menu-right">
				    		<a class="dropdown-item" href="/usuario/editar_perfil?username={{usuario.user.username}}">Editar Perfil</a>
				    		<a class="dropdown-item" href="{%url 'logout'%}">Cerrar sesión</a>
						</div>
					</li>
				</ul>
		  	</div>
		</nav>

		<div class="row">
			<div class="col-12 col-lg-8 col-xl-7 pr-lg-4 mt-5 pt-lg-0 pt-5">
				<h1 class="font-weight-light mb-3">Nueva cuenta</h1>
				<div id="accordion">
					<div class="card border-dark mb-1">
						<div class="card-header bg-transparent py-0" style="height: 3rem;" id="headingOne">
					    	<div class="row pt-1 justify-content-between align-items-center">
								<div class="col">
									<h6>Tarjeta de crédito/débito</h6>
								</div>
								<div class="col text-right">
									<span class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										<i class="material-icons">expand_more</i>
						  			</span>
								</div>
							</div>
					    </div>
					    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
					      	<div class="card-body">
								<form method="post">
								{% csrf_token %}
									<div class="form-row">
								      	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="c_name" required=True placeholder="Nombre de la cuenta" value="">
								    	</div>
								    	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="c_name" required=True placeholder="Entidad bancaria" value="">
								    	</div>
								  	</div>
								  	<div class="form-row">
								    	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="c_num" required=True placeholder="No. Tarjeta: xxxx-xxxx-xxxx-xxxx" value="">
								    	</div>
								    	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="csc" required=True placeholder="No. Cuenta" value="">
								    	</div>
								  	</div>
								  	<div class="form-row">
								    	<div class="form-group col-5">
								      		<label for="">Fecha de vencimiento</label>
								      		<div class="form-row">
								      			<div class="col">
								      				<input type="number" class="form-control" name="mm" required=True placeholder="mm" value="" min="1" max="12">
								      			</div>
								      			<div class="col-1">
								      				<h3 class="font-weight-light">/</h3>
								      			</div>
								      			<div class="col">
								      				<input type="number" class="form-control" name="aa" required=True placeholder="aa" value="" min="1" max="99">
								      			</div>
								      		</div>
								    	</div>
								    	<div class="form-group pl-5 col-7">
								      		<label for="">Tipo de divisa</label>
								      		<select type="text" class="form-control" name="divisa">
											  	<option>COP</option>
											   	<option>EUR</option>
											   	<option>DOL</option>
											   	<option>YEN</option>
											</select>
								    	</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-12">
								  			<button type="submit" class="btn btn-dark btn-block" name="bc1">Confirmar</button>
								  		</div>
								  	</div>
								</form>
					      	</div>
					    </div>
					</div>
					<div class="card border-dark mb-1">
					    <div class="card-header bg-transparent py-0" style="height: 3rem;" id="headingTwo">
						    <div class="row pt-1 justify-content-between align-items-center">
								<div class="col">
									<h6>Préstamos/hipotecas</h6>
								</div>
								<div class="col text-right">
									<span class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<i class="material-icons">expand_more</i>
						  			</span>
								</div>
							</div>
					    </div>
					    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					      	<div class="card-body">
								<form method="post">
								{% csrf_token %}
									<div class="form-row">
								      	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="c_name" required=True placeholder="Nombre del prestamo/hipoteca" value="">
								    	</div>
								    	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="c_name" required=True placeholder="Entidad bancaria" value="">
								    	</div>
								  	</div>
								  	<div class="form-row">
								    	<div class="form-group col-6">
								      		<input type="number" class="form-control" name="c_mon" required=True placeholder="Monto" value="">
								    	</div>
								    	<div class="form-group col-1 pr-2 align-self-center">
								    		<label for="">Divisa</label>
								      	</div>
								      	<div class="form-group col-2">
								    		<select type="text" class="form-control" name="divisa">
											   	<option>COP</option>
											   	<option>EUR</option>
											   	<option>DOL</option>
											   	<option>YEN</option>
											</select>
								      	</div>
								    	<div class="form-group col-3">
								      		<input type="number" class="form-control" name="interes" required=True placeholder="Interés %" value="">
								    	</div>
								  	</div>
								  	<div class="form-row">
								    	<div class="form-group col-4">
								      		<label for="">Fecha prestamo</label>
								      		<div class="form-row">
								      			<div class="col">
								      				<input type="date" class="form-control" name="fecha_prestamo" required=True placeholder="" value="">
								      			</div>
								      		</div>
								    	</div>
								    	<div class="form-group col-4">
								      		<label for="">Fecha límite</label>
								      		<div class="form-row">
								      			<div class="col">
								      				<input type="date" class="form-control" name="fecha_limite" required=True placeholder="" value="">
								      			</div>
								      		</div>
								    	</div>
								    	<div class="form-group col-4">
								      		<label for="">Tipo de pago</label>
								      		 	<select type="text" class="form-control" name="pago">
											    	<option>Semanal</option>
											      	<option>Quincenal</option>
											      	<option>Mensual</option>
											      	<option>Anual</option>
											    </select>
								    	</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-12">
								  			<button type="submit" class="btn btn-dark btn-block" name="bc2">Confirmar</button>
								  		</div>
								  	</div>
								</form>
					      	</div>
					    </div>
					</div>
					<div class="card border-dark mb-1">
					    <div class="card-header bg-transparent py-0" style="height: 3rem;" id="headingThree">
							<div class="row pt-1 justify-content-between align-items-center">
								<div class="col">
									<h6>Cuentas de inversión</h6>
								</div>
								<div class="col text-right">
									<span class="btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										<i class="material-icons">expand_more</i>
						  			</span>
								</div>
							</div>
					    </div>
					    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
					    	<div class="card-body">
					        	<form method="post">
								{% csrf_token %}
									<div class="form-row">
								      	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="c_name" required=True placeholder="Nombre de la cuenta" value="">
								    	</div>
								    	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="c_name" required=True placeholder="Entidad bancaria" value="">
								    	</div>
								  	</div>
								  	<div class="form-row">
								    	<div class="form-group col-5 align-self-end">
								      		<input type="text" class="form-control" name="csc" required=True placeholder="No. Cuenta" value="">
								    	</div>
								    	<div class="form-group col-4">
								      		<input type="number" class="form-control" name="c_mon" required=True placeholder="Monto" value="">
								    	</div>
								    	<div class="form-group col-3">
								      		<input type="number" class="form-control" name="interes" required=True placeholder="Interés %" value="">
								    	</div>
								  	</div>
								  	<div class="form-row">
								    	<div class="form-group col-4">
								      		<label for="">Fecha prestamo</label>
								      		<div class="form-row">
								      			<div class="col">
								      				<input type="date" class="form-control" name="fecha_prestamo" required=True placeholder="" value="">
								      			</div>
								      		</div>
								    	</div>
								    	<div class="form-group col-4">
								      		<label for="">Fecha límite</label>
								      		<div class="form-row">
								      			<div class="col">
								      				<input type="date" class="form-control" name="fecha_limite" required=True placeholder="" value="">
								      			</div>
								      		</div>
								    	</div>
								      	<div class="form-group col-4">
								      		<label for="">Divisa</label>
								    		<select type="text" class="form-control" name="divisa">
											   	<option>COP</option>
											   	<option>EUR</option>
											   	<option>DOL</option>
											   	<option>YEN</option>
											</select>
								      	</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-12">
								  			<button type="button" class="btn btn-dark btn-block" name="bc3">Confirmar</button>
								  		</div>
								  	</div>
								</form>
					      	</div>
					    </div>
					</div>
					<div class="card border-dark mb-1">
						<div class="card-header bg-transparent py-0" style="height: 3rem;" id="headingFour">
					    	<div class="row pt-1 justify-content-between align-items-center">
								<div class="col">
									<h6>Chequera</h6>
								</div>
								<div class="col text-right">
									<span class="btn" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										<i class="material-icons">expand_more</i>
						  			</span>
								</div>
							</div>
					    </div>
					    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
					      	<div class="card-body">
					        	<form>
									<div class="form-row">
								      	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="c_name" required=True placeholder="Nombre de la chequera" value="">
								    	</div>
								    	<div class="form-group col-6">
								      		<input type="text" class="form-control" name="c_name" required=True placeholder="Entidad bancaria" value="">
								    	</div>
								  	</div>
								  	<div class="form-row">
								    	<div class="form-group col-5">
								      		<input type="number" class="form-control" name="c_num" required=True placeholder="Número de la cuenta" value="">
								    	</div>
								    	<div class="form-group col-1 pr-2 align-self-center">
								    		<label for="">Divisa</label>
								      	</div>
								      	<div class="form-group col-2">
								    		<select class="form-control" id="exampleFormControlSelect1">
											   	<option>COP</option>
											   	<option>EUR</option>
											   	<option>DOL</option>
											   	<option>YEN</option>
											</select>
								      	</div>
								    	<div class="form-group col-4">
								      		<input type="number" class="form-control" name="csc" required=True placeholder="No. de cheques" value="">
								    	</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-6">
								  			<button type="button" class="btn btn-dark btn-block" name="bc4">Confirmar</button>
								  		</div>
								  	</div>
								</form>
					      	</div>
					    </div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-xl-5 align-self-center mt-5">
				<h1 class="font-weight-light text-center mb-3">Cuentas existentes</h1>
				{% if tarjetas or prestamos%}
				{% for e in tarjetas %}
				<ul class="list-group">
				  	<li class="list-group-item py-0">
						<div class="row pt-3">
							<div class="col-10">
								<p>{{e.nombre}}</p>
							</div>
							<div class="col-2 text-right">
								<i class="material-icons">delete</i>
							</div>
						</div>
				  	</li>
				</ul>
				{% endfor %}
				{% for e in prestamos %}
				<ul class="list-group">
					<li class="list-group-item py-0">
						<div class="row pt-3">
							<div class="col-10">
								<p>{{e.nombre}}</p>
							</div>
							<div class="col-2 text-right">
								<i class="material-icons">delete</i>
							</div>
						</div>
					</li>
				</ul>
				{% endfor %}
				{% else %}
				<p class="text-center">No hay cuentas registradas</p>
				{% endif %}
				<div class="row">
					<div class="col-12 col-md-6 col-lg-12 col-xl-6">
						<button type="" class="mt-5 btn-block btn btn-dark" name="bc1">Ver lista detallada</button>
					</div>
					<div class="col-12 col-md-6 col-lg-12 col-xl-6">
						<button type="" class="mt-lg-2 mt-2 mt-md-5 mt-xl-5 btn-block btn btn-outline-dark" name="bc1">Configurar banca en línea</button>
					</div>
				</div>
				{% if mensaje_cuenta.0 %}
				<div class="mt-3 alert alert-warning" role="alert">
  					<strong>Atención! </strong> {{mensaje_cuenta.1}}
				</div>	
				{% endif %}
			</div>
		</div>
	</div>

	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/bootstrap.js"></script>
</body>
</html>

{% endblock %}